/* global */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    display: block;
}

/* index */

#grillaHome{
    background-color: beige;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: 160px 940px 100px ;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
}

header{
    grid-area: header;
    background-color: rgba(35, 132, 243, 0.89);
}

.img{
    height: 77px;
    width: 79px;
    margin: 20px;
    scale: 1.3;
}

h1{
    margin-left: 200px;
    transform: translate(-5px, -95px);
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

h3{
    text-align: center;
}

.titulo{
    transform: translateY(-75px);
}

/* menú */

.menu {
    margin-top: 10px;
    text-align: center;
    list-style: none;
}

.section {
    display: inline-block;
    width: 50px;
    position:relative;
    font-size: 20px;
    padding-inline: 100px;
}
 
/* main */

main{
    grid-area: main;
}

h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.objetivo p{
    padding: 5px;
}

.lista li{
    padding: 5px;
}

.emergencia{
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 102, 0, 0.623);
    height: 30px;
}

.mapa2{
    margin-bottom: 5px;
    color: rgba(68, 68, 68, 0.568);
    text-align: center;
}

/* footer */

footer{
    grid-area: footer;
    background-color: rgba(35, 132, 243, 0.89);
    text-align: center;
    padding: 10px;
}

footer p{
    margin-top: 3px;
    font-size: 18px;
}

/* CV */

h1.cv{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    display: inline;
}

h2.cv{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

h3.cv{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

h4.cv{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

h5.cv{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

ul.cv{
    margin-block: 10px;
}

ul.cv li{
    margin-block: 10px;
    list-style: none;
}

ol.cv{
    margin-block: 10px;
    padding: 25px;
}

ol.cv li{
    margin-block: 20px;
}

.grids3{
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: repeat(35, auto);
}

/* links */

.links{
    margin-left: 20px;
    padding: 10px;
    font-size: 30px;
}

















@media only screen and (max-width: 320px){
    #grillaHome{
        grid-template-rows: 160px 1310px 80px;
    }

    .img{
        height: 45px;
        width: 47px;
        margin: 15px;
    }

    h1{
        font-size: 16px;
        margin-left: 80px;
        transform: translateY(-50px);       
    }

    h2{
        font-size: 18px;
    }

    h3{
        font-size: 14px;
    }

    .titulo{
        transform: translateY(-10px);
    }

    .section{
        display: inline-block;
        font-size: 14px;
        padding-inline: 5px;
        width: 70px;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 50px;
    }
}


@media only screen and (min-width: 321px) and (max-width: 480px) {
    #grillaHome{
        grid-template-rows: 160px 1350px 80px;
    }

    .img{
        height: 50px;
        width: 52px;       
    }

    h1{
        font-size: 19px;
        margin-left: 90px;
        transform: translateY(-60px);       
    }

    h2{
        font-size: 19px;
    }

    h3{
        font-size: 17px;
    }

    .titulo{
        transform: translateY(-34px);
    }

    .section{
        display: inline-block;
        font-size: 14px;
        padding-inline: 5px;
        width: 70px;
    }

    .lista li{
        padding: 5px;
        margin-left: 15px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 50px;
    }    
    
    footer p{
        font-size: 19px;
    }
}

@media only screen and (min-width: 329px) and (max-width: 356px){
    #grillaHome{
        grid-template-rows: 160px 1320px 80px;
    }
}

@media only screen and (min-width: 357px) and (max-width: 378px){
    #grillaHome{
        grid-template-rows: 160px 1290px 80px;
    }
}

@media only screen and (min-width: 379px) and (max-width: 424px){
    #grillaHome{
        grid-template-rows: 160px 1250px 80px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 480px){
    #grillaHome{
        grid-template-rows: 160px 1210px 80px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 506px){
    #grillaHome{
        grid-template-rows: 160px 1210px 80px;
    }

    .img{
        height: 65px;
        width: 67px;       
    }

    h1{
        font-size: 25px;
        margin-left: 110px;
        transform: translateY(-65px);       
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 20px;
    }

    .titulo{
        transform: translateY(-47px);
    }

    .section{
        display: inline-block;
        font-size: 20px;
        padding-inline: 5px;
        width: 110px;
    }

    .lista li{
        padding: 5px;
        margin-left: 15px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 50px;
    }   
}

@media only screen and (min-width: 507px) and (max-width: 599px){
    #grillaHome{
        grid-template-rows: 160px 1180px 80px;
    }

    .img{
        height: 65px;
        width: 67px;       
    }

    h1{
        font-size: 25px;
        margin-left: 90px;
        transform: translateY(-65px);
        text-align: center;   
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 20px;
    }

    .titulo{
        transform: translateY(-47px);
    }

    .section{
        display: inline-block;
        font-size: 20px;
        padding-inline: 5px;
        width: 120px;
    }

    .lista li{
        padding: 5px;
        margin-left: 15px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 50px;
    }   
}

@media only screen and (min-width: 528px) and (max-width: 588px){
    #grillaHome{
        grid-template-rows: 160px 1160px 80px;
    }
}

@media only screen and (min-width: 588px) and (max-width: 599px){
    #grillaHome{
        grid-template-rows: 160px 1150px 80px;
    }

    h1{
        text-align: center;
        margin-left: 50px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 688px){
    #grillaHome{
        grid-template-rows: 160px 1120px 80px;
    }

    .img{
        height: 65px;
        width: 67px;       
    }

    h1{
        font-size: 25px;
        margin-left: 50px;
        transform: translateY(-65px); 
        text-align: center;      
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 20px;
    }

    .titulo{
        transform: translateY(-47px);
    }

    .section{
        display: inline-block;
        font-size: 20px;
        padding-inline: 5px;
        width: 120px;
    }

    .lista li{
        padding: 5px;
        margin-left: 15px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 30px;
    }   
}

@media only screen and (min-width: 689px) and (max-width: 811px){
    #grillaHome{
        grid-template-rows: 160px 1080px 80px;
    }

    .img{
        height: 65px;
        width: 67px;       
    }

    h1{
        font-size: 25px;
        margin-left: 50px;
        transform: translateY(-65px); 
        text-align: center;      
    }

    h2{
        font-size: 23px;
    }

    h3{
        font-size: 20px;
    }

    .titulo{
        transform: translateY(-47px);
    }

    .section{
        display: inline-block;
        font-size: 20px;
        padding-inline: 5px;
        width: 200px;
    }

    .lista li{
        padding: 5px;
        margin-left: 15px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 30px;
    }   
}

@media only screen and (min-width: 812px) and (max-width: 1007px){
    #grillaHome{
        grid-template-rows: 160px 1060px 80px;
    }

    .lista li{
        padding: 5px;
        margin-left: 35px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 30px;
    }   
}

@media only screen and (min-width: 1008px) and (max-width: 1335px){
    #grillaHome{
        grid-template-rows: 160px 1030px 80px;
    }

    .lista li{
        padding: 5px;
        margin-left: 35px;
        margin-bottom: 3px;
        list-style-type: none;
    }

    .emergencia{
        margin-top: 5px;
        font-size: 19px;
        height: 30px;
    }   
}

@media only screen and (min-width: 1336px) and (max-width: 1451px){
    #grillaHome{
        grid-template-rows: 160px 1010px 80px;
    }

    .lista li{
        padding: 5px;
        margin-left: 35px;
        margin-bottom: 3px;
        list-style-type: none;
    } 
}

@media only screen and (min-width: 1452px){
    #grillaHome{
        grid-template-rows: 160px 970px 80px;
    }

    .lista li{
        padding: 5px;
        margin-left: 35px;
        margin-bottom: 3px;
        list-style-type: none;
    } 
}

@media only screen and (min-width: 3000px){
    #grillaHome{
        grid-template-rows: 160px 950px 80px;
    }
}